* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100hv;
}

.content {
  padding: 100px;
  flex: 1;
  text-align: center;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3.5em;
  text-transform: uppercase;
}
.stopwatch {
  padding: 10px;
  background: linear-gradient(top, #222, #444);
  overflow: hidden;
  display: inline-block;
  border: 7px solid #eeeeee;
  border-radius: 20px;
}

@font-face {
  font-family: "digital";
  src: url("fonts/DS-DIGIB.woff");
}

.box {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  font-size: 50px;
  overflow: hidden;
  position: relative;
  float: left;
  border-radius: 2%;
}

.number {
  width: 40px;
  line-height: 40px;
  font-family: digital, arial, verdana;
  text-align: center;
  color: #148962;
  position: absolute;
  top: 0;
  left: 0;
}

#button {
  background-color: #148962;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  &:hover {
    background: #03492399;
    border: 1px solid #6b6868;
    color: #eeeeee;
  }
}

.footer {
  background-color: #c5bebe;
  color: #148962;
  text-align: center;
  padding: 15px;
}
